@import '@/constants/variables.scss';

.dropdown {
	position: relative;
	display: inline-block;
	margin: 16px 16px 0 0;
    border-radius: 16px;

	button {
		cursor: pointer;
		min-width: 200px;
		border-radius: 0%;
		background-color: rgba($color: $color-black, $alpha: 0.05);
        border-radius: 16px;
        height: 40px;
	}

	div {
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 170px;
		z-index: 1;

		button {
			border-top: 1px solid rgba($color: $color-black, $alpha: 0.5);
		}
	}
}
