@import '@/styles/theme.scss';

.button {
	min-width: 59px;
	min-height: 59px;
	max-width: 59px;
	max-height: 59px;
	border-radius: 100%;
	background-color: $background-gray;
}

.button--active {
	background-color: $background-button-active;
}
