@import '@/styles/theme.scss';

.card-small {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	gap: $medium-spacing;
	width: 416px;
	min-height: 130px;
	padding: 13px;
	background-color: $color-white;
	border: 1px solid $border-card;

	.about {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: $small-gap;

		.image {
			display: flex;
			width: 80px;
			height: 80px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.text {
			padding: 4px 0;

			.text-medium {
				font-weight: $regular-font-weight;
				max-width: 219px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.text-small {
				margin-top: $small-spacing;
				font-weight: $semi-bold-font-weight;
			}

			.text-special {
				line-height: 27px;
				font-weight: $light-font-weight;
				max-width: 219px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	@media (max-width: $mobile-width) {
		.text-small,
		.text-medium,
		.text-special {
			width: 50vw;
		}

		.about {
			flex-wrap: wrap;
		}
		width: 80vw;
	}
}
