@import '@/styles/theme.scss';

.burger-menu {
	display: none;

	@media (max-width: $small-tablet-width) {
		position: relative;
		display: flex;
		padding: auto;
		gap: $medium-gap;
		right: $extra-large-spacing;

		button {
			margin-top: 10px;
		}

		nav {
			top: 58px;
			display: flex;
			flex-direction: column;
			position: absolute;
			right: -80px;
			width: 170px;
			z-index: 1;
		}

		.img-cross {
			width: 26px;
			height: 26px;
		}

		.img-burger {
			width: 40px;
			height: 26px;
		}

		.link {
			background-color: $gradient-color-right;
			border-radius: $small-border-radius;
		}

		@media (max-width: $mobile-width) {
			right: 0;

			nav {
				top: 40px;
			}
		}
	}
}
