@import '@/constants/variables.scss';

.pagination {
	display: flex;

	gap: 30px;
	width: 100%;
	justify-content: end;
	position: relative;
	top: -38px;

	.dropdown {
		position: relative;
		display: inline-block;
		margin: 0 30px 0 0;

		button {
			cursor: pointer;
			min-width: 170px;
			border-radius: 4px;
			background-color: rgba($color: $color-black, $alpha: 0.05);
			height: 30px;
		}

		div {
			display: flex;
			flex-direction: column;
			position: absolute;
			width: 170px;
			z-index: 1;

			button {
				border-top: 1px solid rgba($color: $color-black, $alpha: 0.5);
			}
		}
	}

	.paginate {
		display: flex;
		gap: 8px;

		.arrow-left {
			margin-right: 0px;
		}

		.arrow-right {
			margin-left: 0px;
		}

		.number {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 30px;
			border-radius: 4px;
			font-size: 18px;
			font-weight: 300;
		}

		.arrow-left,
		.arrow-right {
			display: flex;
			align-items: center;
			justify-content: end;
			width: 30px;
			height: 30px;
		}

		.number-special {
			background-color: $color-danger;
			color: $color-white;
			font-weight: 600;
		}
	}

	@media (max-width: 462px) {
		flex-direction: column-reverse;
		align-items: center;
	}
}
