$color-black: #393939;
$color-danger: #f17900;
$color-orange: #e0a449;
$color-white: #ffffff;

$background-app: #fafafa;
$background-gray: #f9f9f9;
$background-orange: #fbd7b2;
$background-button-active: #ffedda;

$gradient-color-left: #343333;
$gradient-color-center: #484848;
$gradient-color-right: #282828;

$border-card: #f0f1f1;

$small-spacing: 8px;
$medium-spacing: 16px;
$extra-medium-spacing: 24px;
$large-spacing: 32px;
$extra-large-spacing: 120px;

$extra-small-gap: 5px;
$ultra-small-gap: 8px;
$small-gap: 16px;
$medium-gap: 24px;
$extra-medium-gap: 32px;
$large-gap: 59.5px;
$extra-large-gap: 80px;

$small-font-size: 12px;
$placeholder-font-size: 14px;
$medium-font-size: 16px;
$paragraph-font-size: 18px;
$heading-font-size: 20px;
$large-font-size: 24px;
$extra-large-font-size: 32px;

$medium-line-height: 20px;
$large-line-height: 40px;

$ultra-light-font-weight: 250;
$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$semi-bold-font-weight: 600;
$bold-font-weight: 700;

$small-border-width: 1px;
$medium-border-width: 5px;

$border-style: solid;

$small-border-radius: 4px;
$medium-border-radius: 16px;

$container-width: 1280px;

$mobile-width: 462px;
$small-tablet-width: 608px;
$tablet-width: 832px;
$laptop-width: 1340px;

:root {
	font-family:
		Lexend Deca,
		Inter,
		Arial,
		sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	line-height: 27px;
	color: $color-black;
	background-color: $background-app;
}

body {
	min-width: 400px;
	min-height: 100vh;
}

.text-special {
	color: $color-orange;
}

.h1 {
	font-size: 64px;
	font-weight: bold;
	text-align: center;
	line-height: 80px;
}

.h2 {
	font-size: 32px;
	margin: 0 auto;
	text-align: center;
	line-height: 40px;
}

.text-small {
	font-size: 15.35px;
	line-height: 27px;
}

.text-medium {
	font-size: 17.54px;
	line-height: 27px;
}

.card-favorite {
	button {
		background-color: rgba($color: $background-orange, $alpha: 0.3);
	}
}

@keyframes background-animation {
	0% {
		background-color: $border-card;
	}
	50% {
		background-color: rgba($color-black, 0.25);
	}
	100% {
		background-color: $border-card;
	}
}

.load {
	background-color: $border-card;
	animation: background-animation 1.2s infinite ease-in-out;
	cursor: auto;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
