@import '@/constants/variables.scss';

.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .column {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: row;
    }
}
