@import '@/constants/variables.scss';

.header {
	display: flex;
	justify-content: center;
	padding: 32px 16px;

	background: linear-gradient(
		90deg,
		rgba(52, 51, 51, 1) 17%,
		rgba(72, 72, 72, 1) 59%,
		rgba(40, 40, 40, 1) 100%
	);
	color: $color-white;

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 1280px;

		.logo,
		.favorites {
			display: flex;
			flex-direction: row;
		}

		.logo {
			img {
				width: 50px;
				height: 63px;
				margin: 6px 0 0 4px;
			}

			p {
				display: flex;
				align-items: end;
				font-size: 20px;
				font-weight: 250;
				margin-left: 5px;

				span {
					margin-left: 5px;
					color: $color-orange;
					font-weight: 500;
				}
			}
		}

		.links {
			display: flex;
			align-items: center;
			gap: 24px;

			img {
				width: 24px;
				height: 24px;
			}

			.link {
				margin: 5px 0 0 4px;
				font-weight: 300;
				font-size: 18px;
				font-family: Inter, Arial, sans-serif;
				color: $color-white;
			}

			.link-single {
				margin-right: 10px;
			}
		}

		@media (max-width: 462px) {
			flex-direction: column;
			align-items: center;
			width: 80vw;
			padding: 32px 0;
		}
	}
}
