@import '@/styles/theme.scss';

.footer {
	display: flex;
	justify-content: center;
	padding: $large-spacing $medium-spacing;
	background: $color-white;
	color: $color-black;

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: $container-width;

		.logo,
		.modsen {
			display: flex;
			flex-direction: row;
		}

		.logo {
			img {
				width: 50px;
				height: 63px;
				margin: 0 0 3px 5px;
			}

			p {
				display: flex;
				align-items: end;
				font-size: $heading-font-size;
				font-weight: $light-font-weight;
				margin-left: 5px;

				span {
					margin-left: 5px;
					color: $color-orange;
					font-weight: $medium-font-weight;
				}
			}
		}

		.modsen {
			display: flex;
			align-items: center;

			img {
				width: 164px;
				height: 59px;
			}
		}

		@media (max-width: $mobile-width) {
			flex-direction: column;
			align-items: center;
			width: 80vw;
			padding: $large-spacing 0;
		}
	}
}
