@import '@/constants/variables.scss';

.detail-info {
    display: flex;
	justify-content: center;
	padding: 120px 16px 152px;

    .title {
        text-align: left;
        font-weight: 400;
        font-size: 32px;
    }

    .container {
        display: flex;
		flex-direction: row;
		width: 1280px;
        text-align: left;

        img {
            width: 497px;
            height: 570px;
            margin-right: 80px;
        }
        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           
            height: 100%;
            .heading {
                font-weight:bold;
                :nth-child(2) {
                    margin-top: 32px;
                    font-size: 24px;
                    font-weight:400;
                }
                :nth-child(3) {
                    margin-top: 16px;
                    font-weight: 700;
                }
            }
        }

        .overview {
            .title {
                margin-bottom: 32px;
            }

            .row {
                display: flex;
                flex-direction: row;
                gap: 5px;
                margin-bottom: 16px;
            }
        }


    }
}
